---
import "@fontsource-variable/jetbrains-mono";
import Link from "../components/link.astro";
import Button from "../components/button.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>GDT Entry generator</title>
  </head>
  <body class="bg-[#1E1E2E] h-screen flex flex-col pb-32 items-center text-zinc-200 gap-y-8 font-mono">
    <div class="mt-32 flex flex-col justify-center items-center gap-y-4">
      <h1 class="font-extrabold text-5xl">GDT Entry generator</h1>
      <h2 class="text-xl text-center">
        Beginner into OS development? We have a tool for you!<br />
        Generate your ✨ 
        <Link url="https://wiki.osdev.org/Global_Descriptor_Table" className='text-purple-400'>GDT</Link>
        /
        <Link url="https://wiki.osdev.org/Interrupt_Descriptor_Table" className='text-pink-400'>IDT</Link>
        entries with ease.
      </h2>
    </div>
    <h3 class="text-xl text-center font-bold text-teal-400">1) I want to create...</h3>
    <div class="flex items-center justify-center gap-x-8">
      <Button onClick={() => window.location.href="/gdt"}>GDT Entry</Button>
      <Button onClick={() => window.location.href="/idt"}>IDT Entry</Button>
    </div>
    <h3 class="font-bold text-xl text-lime-500">### What is a GDT?</h3>
    <p class="w-1/2">
      The Global Descriptor Table (GDT) is a data structure used by Intel x86-family processors in order to define the characteristics of the various memory areas used during kernel execution, including the base address, the size, and access privileges like executability and writability. These memory areas are called segments in Intel terminology.
      Initialisation of the GDT might be a bit tricky for beginners, so I have created this tool to help you generate GDT entries with ease.
    </p>
    <h3 class="font-bold text-xl text-lime-500">### What is an IDT?</h3>
    <p class="w-1/2">
      The Interrupt Descriptor Table (IDT) is a data structure used by the x86 architecture to implement an interrupt vector table. The IDT is used by the processor to determine the correct response to interrupts and exceptions. It is a part of the x86 architecture's interrupt and exception handling mechanism.
    </p>
    <footer>
      <p class="text-center">Made with ❤️ by <a class="underline" href="https://www.github.com/KoblizekXD">AA55h</a></p>
      <a class="underline" href="https://www.github.com/KoblizekXD/gdt-gen">Source code available here</a>
    </footer>
  </body>
</html>
