---
import "@fontsource-variable/jetbrains-mono";
import Link from "../components/link.astro";
import Button from "../components/button.astro";
import GdtEntryGenerator from "../components/GdtEntryGenerator.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>GDT Entry generator</title>
  </head>
  <body class="bg-[#1E1E2E] flex flex-col pb-32 items-center text-zinc-200 gap-y-8 font-mono">
    <div class="mt-32 flex flex-col justify-center items-center gap-y-4">
      <h1 class="font-extrabold text-5xl">GDT Entry generator</h1>
      <h2 class="text-xl text-center">
        Beginner into OS development? We have a tool for you!<br />
        Generate your ✨ 
        <Link url="https://wiki.osdev.org/Global_Descriptor_Table" className='text-purple-400'>GDT</Link>
        /
        <Link url="https://wiki.osdev.org/Interrupt_Descriptor_Table" className='text-pink-400'>IDT</Link>
        entries with ease.
      </h2>
    </div>
    <h3 class="text-xl text-center font-bold text-teal-400">1) I want to create...</h3>
    <div class="flex items-center justify-center gap-x-8">
      <Button>GDT Entry</Button>
      <Button>IDT Entry</Button>
    </div>
    <h3 class="text-xl text-center font-bold text-teal-400">2) Containing...</h3>
    <GdtEntryGenerator />
  </body>
</html>
