---
const { onClick } = Astro.props;
---

<button data-click={onClick} class={`border-2 super-button rounded px-6 py-1 font-bold`}><slot /></button>

<script>
  const clickHandler = (e: Event) => {
    for (const button of document.querySelectorAll('.super-button')) {
      button.classList.remove('bg-indigo-600');
    }
    (e.target as HTMLButtonElement).classList.add('bg-indigo-600');    
  }

  document.querySelectorAll('.super-button').forEach((b) => {
    const button = b as HTMLButtonElement;
    button.addEventListener('click', (e) => {
      clickHandler(e);
      eval(button.dataset.click || '() => {}')();
    });
  });
</script>